* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
body {
  font-family: "Kumbh Sans", sans-serif !important;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto !important;
}
nav {
  width: 100%;
}
.searchInput {
  background-color: #d4d4d4;
}
.logoTitle {
  font-weight: 800;
}
.logoTitleDay {
  color: #38323e !important;
}
.logoTitleNight {
  color: white !important;
}
.takeNoteForm {
  max-width: max-content;
}
#takeNoteLayer {
  transition: all 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  margin-top: auto;
  background-color: #eaeaea;
}
.notePadding {
  padding-bottom: 110px;
}
#mainBody {
  width: 100%;
  height: 15.5rem;
  color: #767676 !important;
}
#mainTitle {
  color: #2e2d32;
}
#mainBody::-webkit-scrollbar {
  width: 4px;
}
#mainBody::-webkit-scrollbar-track {
  background-color: transparent;
}
#mainBody::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
.creditDay {
  background-color: #eaeaea;
  color: #2d2e32;
}
.creditNight {
  background-color: #2d2e32;
  color: white;
}

.darkToggle {
  width: 40px;
  height: 40px;
  border: 0;
  position: relative;
  transition: all 1s;
}

.nightbg {
  background-color: #2e2d32 !important;
}
.disapper {
  transform: rotate(360deg) scale(0) !important;
}
.moon,
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s;
  transform: translate(-50%, -50%);
}
.moon {
  color: #767676;
}
.sun {
  color: goldenrod;
}
.darkBody {
  background-color: #2d2e32 !important;
}
.dayBody {
  background-color: #eaeaea !important;
}
