* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
body {
  font-family: "Kumbh Sans", sans-serif !important;
  background-color: #eaeaea !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto !important;
}
nav {
  width: 100%;
}
.searchInput {
  background-color: #d4d4d4;
}
.logoTitle {
  color: #38323e !important;
}
.takeNoteForm {
  max-width: max-content;
}
#takeNoteLayer {
  transition: all 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  margin-top: auto;
  background-color: #eaeaea;
}
.notePadding {
  padding-bottom: 110px;
}
#mainBody {
  overflow: hidden !important;
  width: 17.5rem;
  height: 10.5rem;
}
